/* BASIC STYLES HERE */
body {
  background-image: url("https://image.freepik.com/free-vector/abstract-message-icon-low-poly-style-design_68377-340.jpg");
  background-size: cover;
  opacity: .8;
}

.nav {
  border-bottom: 2px groove darkblue;
}

#notes {
  background-color: aliceblue;
  opacity: .9;
}

button {
  background-color: rgb(12, 18, 39);
  text-shadow: 2px 2px 2px rgb(12, 18, 39);
  box-shadow: 2px 2px rgb(12, 18, 39);
  border: hidden;
  transition: .5s;
}
button:hover {
  box-shadow: inset 2px 2px rgb(12, 18, 39);
  transition: .5s;
}
.add-btn {
  border: hidden;
  transition: .5s;
}
.add-btn:hover {
  color: rgb(29, 73, 117);
  transform: scale(1.1) rotateZ(90deg);
  transition: .5s;
}
button:disabled {
  color: rgb(159, 159, 159);
  transform: scale(1.1) rotateZ(90deg);
  transition: none;
  border: hidden;
  background-color: var(--bg-dark);
}
button:hover:disabled {
  color: rgba(144, 32, 32, 0.238);
  transform: scale(.75) rotateZ(90deg);
  transition: 1s;
}

.bi-plus-circle-fill {
  font-size: 3rem;
  color: dodgerblue;
}


@media (max-width: 768px) {
  p {
    font-size: .75rem;
  }

}